/* pokemon.css */
.pokemon-details-container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background: var(--card-background);
  border: 8px solid var(--card-border-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-details-container h2 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
}

.pokemon-details-container img {
  display: block;
  max-width: 400px;
  margin: 1rem auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-details-container p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

.pokemon-details-container h3 {
  font-size: 1.5rem;
  color: #ff0000;
  margin-top: 2rem;
}

.pokemon-details-container ul {
  list-style-type: none;
  padding: 0;
}

.pokemon-details-container ul li {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.pokemon-details-container .types {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.pokemon-details-container .type-badge {
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  border-radius: 20px;
  text-transform: capitalize;
  font-weight: bold;
  color: #333;
  border: 2px solid #ddd;
}

.pokemon-details-container .type-badge.fire {
  background-color: #ff6347;
  border-color: #ff4500;
  color: white;
}

.pokemon-details-container .type-badge.water {
  background-color: #1e90ff;
  border-color: #4682b4;
  color: white;
}

.pokemon-details-container .type-badge.grass {
  background-color: #32cd32;
  border-color: #228b22;
  color: white;
}

.pokemon-details-container .type-badge.electric {
  background-color: #ffd700;
  border-color: #ffcc00;
  color: black;
}

.pokemon-details-container .type-badge.poison {
  background-color: #8a2be2;
  border-color: #7a1fa2;
  color: white;
}

.pokemon-details-container .type-badge.flying {
  background-color: #87cefa;
  border-color: #4682b4;
  color: white;
}

.pokemon-details-container .type-badge.bug {
  background-color: #adff2f;
  border-color: #6b8e23;
  color: black;
}

.pokemon-details-container .type-badge.normal {
  background-color: #f5f5f5;
  border-color: #dcdcdc;
  color: black;
}

/* Responsive design */
@media (max-width: 768px) {
  .pokemon-details-container {
      padding: 1rem;
  }

  .pokemon-details-container h2 {
      font-size: 1.5rem;
  }

  .pokemon-details-container h3 {
      font-size: 1.2rem;
  }

  .pokemon-details-container ul li {
      font-size: 1rem;
  }
}
