<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer une nouvelle équipe</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Créer une nouvelle équipe</h1>
        <form method="POST" id="create-team-form">
            <label for="team_name">Nom de l'équipe:</label>
            <input type="text" id="team_name" name="team_name" required>
            <h2>Vos Pokémons (5 max):</h2>
            <ul id="selected-pokemons"></ul>
            <h2>Ajouter des Pokémons :</h2>
            <ul>
                {% for pokemon in pokemons %}
                    <li>
                        {{ pokemon.name }}
                        <button type="button" onclick="add_to_team('{{ pokemon.id }}', '{{ pokemon.name }}')">+</button>
                    </li>
                {% endfor %}
            </ul>
            <button type="submit" class="btn-blue">Créer l'équipe</button>
        </form>
        <button class="btn-blue" onclick="window.location.href='{{ url_for('auth.profile') }}'">Retour au tableau de bord</button>
        <script>
            let selectedPokemons = [];

            function add_to_team(pokemon_id, pokemon_name) {
                if (selectedPokemons.length >= 5) {
                    alert("Vous ne pouvez ajouter que 5 Pokémons à l'équipe.");
                    return;
                }
                if (!selectedPokemons.includes(pokemon_id)) {
                    selectedPokemons.push(pokemon_id);
                    const selectedPokemonsList = document.getElementById('selected-pokemons');
                    const newPokemon = document.createElement('li');
                    newPokemon.textContent = pokemon_name;
                    selectedPokemonsList.appendChild(newPokemon);
                }
            }

            document.getElementById('create-team-form').addEventListener('submit', function(event) {
                const form = event.target;
                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'pokemons';
                input.value = selectedPokemons.join(',');
                form.appendChild(input);
            });
        </script>
    </div>
</body>
</html>
