<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='pokemon.css') }}">
  <title>{{ pokemon.name }} - Détails</title>
</head>
<body>
  <header class="pokemon-card-header">
    <nav class="main-nav">
        <div class="nav-logo">
            <img src="{{ url_for('static', filename='pokeball5.png') }}" alt="Pokéball" class="pokeball-icon">
            <h1>{{ pokemon.name }}</h1>
        </div>
        <ul class="nav-menu">
          <li><a href="/profil">Profil</a></li>
          <li><a href="/combats">Combats</a></li>
          <li><a href="/login">Connexion</a></li>
      </ul>
    </nav>
  </header>

  <main >
    <div class="pokemon-content pokemon-details-container">
        <h2>{{ pokemon.name }}</h2>
        <p>
          {% for type in pokemon.types %}
            <span class="type-badge {{ type }}">{{ type.capitalize() }}</span>
          {% endfor %}
        </p>
        <img src="{{ pokemon.image_url }}" alt="{{ pokemon.name }}" />


        <h3>Statistiques</h3>
        <ul>
            {% for stat, value in pokemon.stats.items() %}
                <li><strong>{{ stat.capitalize() }}:</strong> {{ value }}</li>
            {% endfor %}
        </ul>

        <h3>Détails supplémentaires</h3>
        <ul class="additional-details">
          <li>
            <strong>Poids:</strong>
            <span>{{ details['weight'] }} hectogrammes</span>
          </li>
          <li>
            <strong>Taille:</strong>
            <span>{{ details['height'] }} décimètres</span>
          </li>
        </ul>
    </div>
  </main>
</body>
</html>
