<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de l'équipe</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ team.name }}</h1>
        <h2>Pokémons dans l'équipe :</h2>
        <ul>
            {% for pokemon in team.pokemons %}
                <li>{{ pokemon.name }}</li>
            {% endfor %}
        </ul>
        <button class="btn-blue" onclick="window.location.href='{{ url_for('dashboard') }}'">Retour au tableau de bord</button>
        <form action="{{ url_for('delete_team', team_id=team.id) }}" method="POST" style="display:inline;">
            <button type="submit" class="btn-red">Supprimer l'équipe</button>
        </form>
    </div>
</body>
</html>